* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: .4s ease;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 2vh;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -2vh;

  box-shadow: 0vh 1vh rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 3vh;

  transition: .4s ease-out;
}

.search-box .search-bar {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 5vh;
  font-weight: 500;
  text-align: center;
  text-shadow: .5vh .5vh rgba(50, 50, 75, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 2.5vh;
  font-weight: 300;
  font-style: italice;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 3vh auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3vh;

  padding: 2vh 2.75vh;

  color: #fff;
  font-size: 12vh;
  font-weight: 900;

  text-shadow: 0.5vh 1vh rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 0.5vh 1vh rgba(0, 0, 0, 0.2)
}

.weather-box .weather {
  color: #fff;
  font-size: 6vh;
  font-weight: 700;
  text-shadow: .5vh .5vh rgba(50, 50, 70, 0.5);
}